html,body,div,span,p,h1,h2,h3,h4,h5,h6,table,tr,td,fieldset,legend,ul,ol,li,img,frameset,input,label,textarea,dl,dt,dd,blockquote{margin:0;padding:0;}

/* 
  解决页面内容只适应浏览器窗口大小而产生空白区域 
  
  缩小浏览器大小至小于网页内容宽度，此时会产生横向滚动条
  在未使用display:table的情况下，拖动滚动条至右边会发现有空白区域出现
*/
body{display:table; width:100%}

a{outline:none;}
a img{border:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{margin:15px 0; font-family:"微软雅黑","黑体",Sans-serif;}
code{font-family: consolas, courier, sans-serif;}

body{
  font:62.5%/1.5 "Lucida Grande",Verdana,"Bitstream Vera Sans", Arial, Sans-serif;
}


/** ---------- header ----------- **/

#header{
  background:url("/static/themes/doubleks/images/header_bg.png") repeat-x 0 0;
}
.wrapper-header{
  position:relative;
  margin:0 auto;
  width:960px;
  height:163px;
  background:url("/static/themes/doubleks/images/trees_top.png") no-repeat 75% 65%;
}
#logo{
  position:absolute;
  top: 30px;
  left: 10px;
}
.slogan{
  position:absolute;
  top:94px;
  left:110px;
  font:italic 12px Georgia,"Times New Roman",Sans;
  color:#B2CDC1;
}
.rssfeed{
  display:block;
  position:absolute;
  top:0;
  right: 40px;
  width:95px;
  height:20px;
  text-indent:-9999px;
  background:url("/static/themes/doubleks/images/sprite.png") no-repeat 0 0;
}
/** ---------- main ----------- **/
#main{}
.wrapper-main{
  margin:0 auto;
  width:960px;
  min-height:700px;
  height:auto !important; /* IE min-height Hacks */
  height:700px;
  /*background:url("/static/themes/doubleks/images/trees_bottom.png") no-repeat right bottom;*/
}
.wrapper-content{padding:20px; }
  .wrapper-content .tip{
    padding:10px 8px;
    background:#E4F1FF;
    color:#444;
    width:610px;
    font-size:1.4em;
  }
  .wrapper-content h2{
    margin-bottom:0; 
    color:#47b0a9;
    font:bold 24px "Lucida Grande","微软雅黑","黑体",Sans-serif;
  }
  .wrapper-content h2 a{
    width:690px;
    font:bold 24px "Lucida Grande","微软雅黑","黑体",Sans-serif;
    color:#fe4365;
    text-decoration:none;
  }
  .wrapper-content h2 a:hover{
    text-decoration:underline;
  }
  .wrapper-content .misc{
     margin:5px 0 15px 10px; 
     font-size:1.1em; 
     color:#999;
     padding-left: 18px;
     background:url("/static/themes/doubleks/images/sprite.png") no-repeat 0 -62px;
   }
   .wrapper-content .title-link{
     position:relative; z-index:15; text-decoration:none;
   }
   .wrapper-content .title-link .wrapper-titlelink{
     display:none;
	   overflow:hidden;
	   width:400px;
	   height:33px;
	   left:-9px;
	   padding:6px 10px;
	   position:absolute;
	   top:-30px;
	   color:#666;
	   font:italic 11px georgia,verdana,sans-serif;
	   background:url("/static/themes/doubleks/images/sprite.png") no-repeat -24px -30px;
	  }
	.wrapper-content .title-link .wrapper-titlelink span{
	  display:block; 
	  float:left; 
	  height:15px; 
	  overflow:hidden; 
	  width:220px;
	  white-space:nowrap;
	  text-overflow:ellipsis;     /* IE, Webkit */
	  -o-text-overflow: ellipsis; /* Opera */
	  /* firefox text-overflow  - Unimplemented */
	}
  .wrapper-content .title-link .wrapper-titlelink strong{
    font-size:12px; 
    float:left; 
    font-style:normal; 
    font-weight:bold; 
    color:#ff3d3d;
   }
  .wrapper-content .title-link:hover{z-index:16; text-decoration:none;}
  .wrapper-content .title-link:hover .wrapper-titlelink{display:block;}
  .wrapper-content .misc a{text-decoration:none;}
  .wrapper-content .misc img{border:none !important;}
  .entry{margin:45px 0;}
  .content{margin:0 10px; width:651px;font-size:1.4em; color:#777;}
  .content a{padding:1px; color:#fe4365;}
  .content a:hover{
    color:#fff; background:#fe4365;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
  }
  .content a.img_link:hover{background:none;}
  .content h3, .content h4, .content h5, .content h6{margin:5px 0; /*color:#47b0a9;*/}
  .content h3{font-size:17px;}
  .content h4{font-size:15px;}
  .content h5{font-size:13px;}
  .content h6{font-size:13px;}
  .content p{line-height:1.6em;}
  .content a{color:fe4365;text-decoration:none;}
  .content embed{margin:7px 10px;}
  .content .code_wrapper {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background:#E6E6DD;
    padding:3px;
    margin:7px 10px;
  }

  .content pre {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background:url("/static/themes/doubleks/images/code.bg.gif") repeat scroll 0 -5px #F8F8EE;
    border:1px solid #ccc;
    margin:10px;
    padding:13px 10px;
  }
  .content div > pre {
    border:1px solid #CCC;
    overflow:auto;
  }
  .content pre{margin:0;}
  .content code{
    display:block;
    font-family:"Monaco","Courier New","Courier",monospace;
    font-size:12px;
    line-height:18px;
  }
  .content blockquote{
    margin:15px 10px;
    padding-left:15px; 
    background:url("/static/themes/doubleks/images/blockquote.png") no-repeat 0 0;
    color:#888;
  }
  .content ul, .content ol{margin:0 20px;}
  .content ul li{list-style:square;}
  .content img{
     margin:15px 0 10px; padding:3px; 
     border:1px solid #dde7d7;
     -moz-border-radius:4px;
     -webkit-border-radius:4px;
     border-radius:4px;
  }
  .content img:hover{
    border:1px solid #aecd99;
    -moz-box-shadow:0 0 7px #ccc;
    -webkit-box-shadow:0 0 7px #ccc;
    box-shadow: 0 0 7px #ccc;
  }
.wrapper-sidebar{
  float:right;
  margin:50px 0;
  width:160px;
}
.wrapper-sidebar h2{color:#b2cdc1;font:italic bold 24px Georgia;}
.wrapper-sidebar ul{margin:0 20px; font-size:1.1em}
.wrapper-sidebar li{
  padding-left:15px;
  background:url("/static/themes/doubleks/images/sprite.png") no-repeat 0 -80px;
}
#side-nav a{color:#fe4365;text-decoration:none}
#side-nav a:hover{text-decoration:underline;}

.wrapper-content .pagination{
  margin:20px 0 10px;
  font-size:1.4em;
}
.wrapper-content .pagination a{
  display:block;
  padding:3px 4px;
  width:130px;
  color:#fff;
  background:#FE4365;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #fefefe;
  text-decoration:none;
}
.wrapper-content .pagination a:hover{
  color:#fe4365;
  background:#fff;
  border:1px solid #ccc;
}

/** ---------- footer ----------- **/
#footer{font-size:1.2em; position:relative;}
.back-to-top a{
  display:block;
  background:url("/static/themes/doubleks/images/sprite.png") no-repeat;
  text-indent: -9999px;
}
.footer-top a{
  position:absolute;
  left:1000px;
  top: -70px;
  width:40px;
  height:71px;
  background-position:0 -270px;
}
.bottom-top a{
  position:absolute;
  right:10px;
  top: 20px;
  width:30px;
  height:15px;
  background-position:0 -360px;
}
.wrapper-footer{
  background:url("/static/themes/doubleks/images/footer_bg.png") repeat-x 0 0;
 }
.footside{padding:15px;}
.wrapper-footside{
  margin:0 auto;
  overflow:hidden;
  padding-left:5px;
  width:960px;
}
.footside .section{
  display:inline;
  float:left;
  height:208px;
  margin:5px;
  width:310px;
  /*background:#ccc;*/
}
.footside .section h2{
  color:#83AF9B;
  font-family:Georgia;
  font-size:22px;
  margin:0 0 5px 15px;
}
.footside .section .social, .footside .section .about{
  margin:0 0 5px 20px;
}
.social a{
  display:block; color:#888; 
  padding:0 5px;
  text-decoration:none;
}
.social a:hover{
  background-color:#f0eede; 
  -moz-border-radius: 4px;
  -webkit-border-raius: 4px;
  border-radius:4px;
}
.section .twitter,
.section .delicious,
.section .flickr,
.section .yupoo,
.section .lastfm{
  background:url("/static/themes/doubleks/images/sprite.png") no-repeat;
  /*line-height:30px;*/
  padding:3px 3px 3px 40px;
  margin:5px 0;
  height:32px;
}
.social .title{font-weight:bold; color:#83af9b;}
.section .twitter{background-position:0 -100px;}
.section .delicious{background-position:0 -142px;}
.section .yupoo{background-position:0 -183px;}
.section .lastfm{background-position:0 -225px;}
/*.section .flickr{background-position:0 -153px;}*/

.cr{
  padding:15px;
  background:#01212e;
  color:#f5f3e4;
  position:relative;
}
.wrapper-cr{margin:0 auto;width:960px;}
.cr a{color:#fe4365}

/** ------------ archive --------------- **/
.archive-count{font-size:16px; color:#f00;}

/** ------------ 404 --------------- **/
.o404{font:48px/1.5 georgia, Sans; }
.title-404{font-size:1.4em; color:#f00;}
.content-404-main{margin:15px 0;}
.content-404{
  margin-left:20px;
  font-size:1.4em;
  background:#ffc;
  color:#333;
  padding:5px;
  -moz-border-radius:3px;
  -webkit-border-radius:2px;
  border-radius:2px;
}

/** ------------ Others --------------- **/
.round{
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
}