{% include 'header.html' %}
<body>
	<div id="page">
		<div id="header">
		  <div class="wrapper-header">
		    <a href="/" class="img">
		      <img src="/static/themes/doubleks/images/logo_top.png" alt="Caizpark" id="logo" />
		    </a>
		    <a href="{{ feed_url }}" class="rssfeed">RssFeed</a>
		  </div>
		</div>
    <div id="main">
			<div class="wrapper-main">
			  {% include 'sidebar.html' %}
        <div class="wrapper-content">
          <div class="title-404">
            <span class="o404">404</span>
            &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Page Not Found
          </div>
          <div class="content-404-main">
            <span class="content-404">The content you're looking for doesn't exisit.</span>
          </div>
        </div>
			</div>
		</div>
{% include 'footer.html' %}