{% include 'header.html' %}
		<div id="main">
			<div class="wrapper-main">
			  {# include 'sidebar.html' #}
			  <div class="wrapper-content">
			    <div class="entry entry-single">
			      <div class="back-to-main"><a href="/">&laquo; Back to Index Page</a></div>
				  
            <h2>
            {% if article.title %}
            {{ article.title }}
            {% else %}
            Untitled
            {% endif %}
            &nbsp;
          {% if article.title_link%}
          <a href="{{ article.title_link }}" target="_blank" class="title-link">
          <img src="/static/themes/doubleks/images/title_link.png" alt="Title Link" class="permaicon" />
          <span class="wrapper-titlelink">
            <strong>Title Link:&nbsp;</strong>
            <span>{{article.title_link}}</span>
          </span>
          </a>
			    {% endif %}
          </h2>
				  <div class="misc png-img misc-single">
				    {{ article.created|timezone:8|date:"Y-m-d H:i:s" }}
            <small>{{ article.hits }}+{{ article.hits_feed }} views</small>
          </div>
				  <div class="content content-single">
				  {% ifequal article.format 'markdown' %}
					  {{ article.content_formatted }}
				  {% else %}
					  {% ifequal article.format 'txt' %}
						  {{ article.content|linebreaksbr }}
					  {% else %}
						  {{ article.content }}
					  {% endifequal %}
				  {% endifequal %}
				  </div>
          {% if related %}
          <div class="related">
            <h3>RELATED ARTICLES</h3>
            <ul>
          {% for related_article in related %}
            <li>›&nbsp;<a href="/{{ related_article.title_url }}">{{ related_article.title }}</a></li>
          {% endfor %}
            </ul>
          </div>
          {% else %}
          {% endif %}
				  </div><!--entry-->
				</div>
			</div>
		</div>
{% include 'footer.html' %}