{% include 'header.html' %}
<body onload="setupZoom()">
	<div id="page">
		<div id="header">
		  <div class="wrapper-header">
		    <a href="/" class="img">
		      <img src="/static/themes/doubleks/images/logo_top.png" alt="Caizpark" id="logo" />
		    </a>
		    <a href="{{ feed_url }}" class="rssfeed">RssFeed</a>
		  </div>
		</div>
		<div id="main">
			<div class="wrapper-main">
			  {% include 'sidebar.html' %}
			  <div class="wrapper-content">
				  {% if article.title %}
          <h2>{{ article.title }}&nbsp;
          {% if article.title_link%}
            <a href="{{ article.title_link }}" target="_blank" class="title-link">
              <img src="/static/themes/doubleks/images/external-small.png" alt="{{ article.title_link }}" class="permaicon" />
              <span>Title Link: {{article.title_link}}</span>
            </a>     
          {% endif %}
          </h2>
          {% endif %}
				  <div class="misc">{{ article.created|date:"Y-m-d H:i:s" }}</div>
				  {% if forloop.last %}
				  <div class="content tail">
				  {% else %}
				  <div class="content">
				  {% endif %}
				  {% ifequal article.format 'markdown' %}
					  {{ article.content_formatted }}
				  {% else %}
					  {% ifequal article.format 'txt' %}
						  {{ article.content|linebreaksbr }}
					  {% else %}
						  {{ article.content }}
					  {% endifequal %}
				  {% endifequal %}
				  </div>
				</div>
			</div>
		</div>
{% include 'footer.html' %}