<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8" />
  <meta name="keywords" content="IvanChoi,IIssNan,Caizpark,iiNan,ivanchoi.name,project picky,DoubleKs,iPhone App,免费iPhone App" />
  <meta name="description" content="ivanChoi's personal blog, focus on games, books and lifestyle" />
  
  <title>{% if page_title %}{{ page_title }}{% else %}{{ site_name }}{% endif %}</title>
  <link rel="stylesheet" type="text/css" media="screen"  href="http://cdn.ivanchoi.name/caizpark/static/styles/style.cdn.css" />
  <!--<link rel="stylesheet" type="text/css" media="screen"  href="/static/themes/doubleks/style.css" />-->
  <link rel="alternate" type="application/atom+xml" href="{{ feed_url }}" />
  <link rel="shortcut icon" href="/favicon.ico" />
  
  <!--[if lt IE 7]>
  <script type="text/javascript" src="/static/themes/doubleks/DD_belatedPNG.js"></script>
  <script type="text/javascript">
    DD_belatedPNG.fix('.png-img');
  </script>
  <![endif]-->
</head>

<body>
	<div id="page">
		<div id="header">
		  <div class="wrapper-header">
		    <a href="/" class="img">
		      <img src="/static/themes/doubleks/images/logo_top.png" class="png-img" alt="Caizpark" id="logo" />
		    </a>
			  <p class="slogan">{{ site_slogan}}</p>
			  <div>
		      <div class="feedme"><a href="{{ feed_url }}" class="png-img">RssFeed</a></div>
		      {% include 'inc_feedway.html' %}
		    </div>
		  </div>
		</div><!--#header-->