{% include 'header.html' %}
<body>
	<div id="page">
		<div id="header">
		  <div class="wrapper-header">
		    <a href="/" class="img">
		      <img src="/static/themes/doubleks/images/logo_top.png" alt="Caizpark" id="logo" />
		    </a>
			  <p class="slogan">{{ site_slogan}}</p>
			  <div>
		      <div class="feedme"><a href="{{ feed_url }}">RssFeed</a></div>
		      <ul class="feedways">
		        <li>
              <a href="http://fusion.google.com/add?feedurl=http://feeds.ivanchoi.name/caizpark">
              <img src="/static/themes/doubleks/images/feed_google.gif" alt="google reader" />
              </a>
            </li>
		        <li>
              <a href="http://mail.qq.com/cgi-bin/feed?u=http://feeds.ivanchoi.name/caizpark">
              <img src="/static/themes/doubleks/images/feed_qq.gif" alt="qq mail" />
              </a>
            </li>
		        <li>
              <a href="http://www.xianguo.com/subscribe.php?url=http://feeds.ivanchoi.name/caizpark">
              <img src="/static/themes/doubleks/images/feed_xianguo.gif" alt="xianguo reader" />
              </a>
            </li>
		        <li>
              <a href="http://reader.youdao.com/b.do?url=http://feeds.ivanchoi.name/caizpark">
              <img src="/static/themes/doubleks/images/feed_youdao.gif" alt="youdao reader" />
              </a>
            </li>
		        <li>
              <a href="http://9.douban.com/reader/subscribe?url=http://feeds.ivanchoi.name/caizpark">
              <img src="/static/themes/doubleks/images/feed_yahoo.gif" alt="yahoo reader" />
              </a>
            </li>
		        <li>
              <a href="http://www.zhuaxia.com/add_channel.php?url=http://feeds.ivanchoi.name/caizpark">
              <img src="/static/themes/doubleks/images/feed_zhuaxia.gif" alt="zhuxia" />
              </a>
            </li>
		      </ul>
		    </div>
		  </div>
		</div>
		<div id="main">
			<div class="wrapper-main">
			  {% include 'sidebar.html' %}
			  <div class="wrapper-content">
				  {% if page_archive %}
				  <div class="round tip">This is the complete archive of this blog, totally <span class="archive-count">{{ articles_total }}</span> articles.</div>
				  {% endif %}
				  {% for article in articles %}
				  <div class="entry">
				  {% if article.title %}
				  <h2>
				  <a href="/{{ article.title_url }}" title="Permalink to {{ article.title|escape }}">{{ article.title }}</a>&nbsp;
				  {% if article.title_link%}
					<a href="{{ article.title_link }}" target="_blank" class="title-link">
					  <img src="/static/themes/doubleks/images/title_link.png" alt="Title Link" class="permaicon" />
					  <span class="wrapper-titlelink">
					    <strong>Title Link:&nbsp;</strong> 
						<span>{{article.title_link}}</span>
					  </span>
					</a>     
				  {% endif %}
				  </h2>
				  {% endif %}
				  <div class="misc png-img">{{ article.created|date:"Y-m-d H:i:s" }}</div>
				  {% if forloop.last %}
				  <div class="content tail">
				  {% else %}
				  <div class="content">
				  {% endif %}
				  {% ifequal article.format 'markdown' %}
					  {{ article.content_formatted }}
				  {% else %}
					  {% ifequal article.format 'txt' %}
						  {{ article.content|linebreaksbr }}
					  {% else %}
						  {{ article.content }}
					  {% endifequal %}
				  {% endifequal %}
				  </div>
				  </div><!--entry-->
				  {% endfor %}
				  {% if page_archive %}
				  {% else %}
				  {% if articles_total %}
				  <div class="pagination">
				    <a href="/archive">&laquo;&nbsp;Previous Articles</a>
				  </div>
				  {% endif %}
				  {% endif %}
			</div>
		</div>
	</div>
{% include 'footer.html' %}