{% include 'header.html' %}
		<div id="main">
			<div class="wrapper-main clearfix">
			  {% include 'sidebar.html' %}
			  <div class="wrapper-content" id="index">
				  {% if page_archive %}
				  <div class="round tip">COMPLETE ARCHIVE, TOTALLy <span class="archive-count">{{ articles_total }}</span> ARTICLES.</div>
				  {% else %}
				    {% if page_top %}
					<div class="round tip">20 MOST VIEWED ARTICLES</div>
					{% endif %}
				  {% endif %}
				  {% for article in articles %}
				  <div class="entry">
				  <h2>
				  {% if article.title %}
				  <a href="/{{ article.title_url }}" title="{{ article.title|escape }}" class="article_title">{{ article.title }}</a>
          {% else %}
          <a href="/{{ article.title_url }}" title="Untitled Article">Untitled</a>
          {% endif %}
          &nbsp;
				  {% if article.title_link%}
					<a href="{{ article.title_link }}" target="_blank" class="title-link">
					  <img src="/static/themes/doubleks/images/title_link.png" alt="Title Link" class="permaicon" />
					  <span class="wrapper-titlelink">
					    <strong>&nbsp;&nbsp;&nbsp;&nbsp;</strong> 
						<span>{{article.title_link}}</span>
					  </span>
					</a>
				  {% endif %}
          <a href="/{{ article.title_url }}#disqus_thread" class="disqus_comment_count">x</a>
				  </h2>
				  <div class="misc png-img clearfix">
				    <span class="misc-article-time png-img">{{ article.created|timezone:8|date:"Y-m-d H:i:s" }}</span>
            <ul class="be-social-index clearfix">
              <li><a href="http://delicious.com/save" onclick="window.open('http://delicious.com/save?v=5&noui&jump=close&url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title), 'delicious','toolbar=no,width=550,height=550'); return false;">
                <img src="/static/themes/doubleks/images/so_delicious_small.png" alt="save it to delicious"/></a></li>
              <li><a href="http://twitter.com/home?status=http://{{ site_domain }}/{{ article.title_url|escape }} {{ article.title|escape }}" title="Twitter This" target="_blank" rel="nofollow">
                <img src="/static/themes/doubleks/images/so_twitter_small.png" alt=""/></a></li>
              <li><a href="javascript:var u='http://www.douban.com/recommend/?url='+document.location.href+'&title='+encodeURIComponent(document.title);window.open(u,'douban','toolbar=0,resizable=1,scrollbars=yes,status=1,width=450,height=330');void(0)" title="推荐到豆瓣"> 
                <img src="/static/themes/doubleks/images/so_dou9_small.png" alt=""/></a></li>
              <li><a href="http://www.kaixin001.com/repaste/share.php?rtitle={{ article.title|escape }}&rurl=http://{{ site_domain }}/{{ article.title_url|escape }}&rcontent={{ article.content|striptags }}" title="转贴到开心网" target="_blank" rel="nofollow">
                <img src="/static/themes/doubleks/images/so_kaixin_small.png" alt=""/></a></li>
              <li><a href="http://share.renren.com/share/buttonshare.do?link=http://{{ site_domain }}/{{ article.title_url|escape }}&title={{ article.title|escape }}" target="_blank" rel="nofollow">
                <img src="/static/themes/doubleks/images/so_renren_small.png" alt=""/></a></li>
              <li><a href="http://v.t.sina.com.cn/share/share.php?title={{ article.title|escape }}&url=http://{{ site_domain }}/{{ article.title_url|escape }}">
                <img src="/static/themes/doubleks/images/so_xinlang_small.png" alt=""/></a></li>
              <li><a href="javascript:void( window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+encodeURIComponent(document.location.href)))">
                <img src="/static/themes/doubleks/images/so_qzone_small.png" alt=""/></a></li>
            </ul>
          </div>
				  {% if forloop.first %}
				  <div class="content content-index first">
				  {% else %}
				  <div class="content content-index entry-content{{ forloop.counter }}">
				  {% endif %}
				  {% ifequal article.format 'markdown' %}
					  {{ article.content_formatted }}
				  {% else %}
					  {% ifequal article.format 'txt' %}
						  {{ article.content|linebreaksbr }}
					  {% else %}
						  {{ article.content }}
					  {% endifequal %}
				  {% endifequal %}
				  </div>
				  </div><!--entry-->
				  {% endfor %}
				  {% if page_archive %}
				  {% else %}
				  {% if is_paginated %}
						<div class="pagination">
						{% if has_previous %}
							<a href='/page/{{ page_current|add:"-1" }}'>&laquo; Previous</a>
						{% else %}
							<span class="disabled">&laquo; Previous</span>
						{% endif %}
						{% for page in page_list %}
								{%ifequal page page_current%}
									<span class="current">{{ page }}</span>
								{%else%}
									<a href="/page/{{ page }}">{{ page }}</a>
								{%endifequal%}
						{% endfor %}
						{% if has_next %}
							<a href='/page/{{ page_current|add:"1" }}'>Next &raquo;</a>
						{% else %}
							<span class="disabled">Next &raquo;</span>
						{% endif %}
						</div>
					{% endif %}
				  {% endif %}
			</div>
		</div>
	</div>
  <script type="text/javascript">
    var disqus_shortname = 'caizpark';
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.src = 'http://disqus.com/forums/caizpark/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>

{% include 'footer.html' %}