<div id="sidebar">
	<div class="wrapper-sidebar">
	  <h2 class="sidebar_h2_as png-img">Article Set</h2>
    {% include 'inc_sidebar_as.html' %}
	  <h2 class="sidebar_h2_page png-img">Page</h2>
		<ul id="side-nav">
			{% for page in pages %}
			<li class="png-img"><a href="/{{ page.title_url }}">{{ page.title|upper }}</a></li>
			{% endfor %}
			<li class="png-img"><a href="/top">TOP 20</a></li>
			<li class="png-img"><a href="/archive">ARCHIVE</a></li>
      <!--<li class="png-img"><a href="/tweets">TWEETS</a></li>-->
		</ul>
    <h2 class="sidebar_h2_sponsors png-img">Sponsors</h2>
		<ul class="sponsors">
		  <li>
		    <a href="#" title="Your ads here">
		      <img src="http://inc.iissnan.com/caizpark/static/images/sponsor_248x70.png" alt="Your ads here" />
        </a>
      </li>
		</ul>
	</div>
</div>
