{% include 'header.html' %}
<body onload="setupZoom()">
	<div id="Root">
		<div id="Top"><a href="/" class="img"><img src="/static/themes/default/logo.png" alt="Project Picky" id="Logo" /></a></div>
		{% include 'sidebar.html' %}
		<div id="Main">
			<div class="inner">
				{% if page_archive %}
				<div class="header">This is the complete archive of this blog, totally {{ articles_total }} articles.</div>
				{% endif %}
				{% for article in articles %}
				{% if article.title %}<div class="title">{% if article.title_link%}<a href="{{ article.title_link }}" target="_blank">{{ article.title }}</a>{% else %}{{ article.title }}{% endif %}</div>{% endif %}
				{% if forloop.last %}
				<div class="content tail">
				{% else %}
				<div class="content">
				{% endif %}
				{% ifequal article.format 'markdown' %}
					{{ article.content_formatted }}
				{% else %}
					{% ifequal article.format 'txt' %}
						{{ article.content|linebreaksbr }}
					{% else %}
						{{ article.content }}
					{% endifequal %}
				{% endifequal %}
				<div class="misc">{{ article.created|date:"M-j G:i" }}&nbsp;<a href="/{{ article.title_url }}" class="img">&nbsp;<img src="/static/shared/link.png" border="0" align="absmiddle" alt="Permalink to {{ article.title|escape }}" class="permaicon" />&nbsp;</a></div>
				</div>
				{% endfor %}
				{% if page_archive %}
				{% else %}
				{% if is_paginated %}
						<div class="pagination">
						{% if has_previous %}
							<a href='/page/{{ page_current|add:"-1" }}'>&laquo; Previous</a>
						{% else %}
							<span class="disabled">&laquo; Previous</span>
						{% endif %}
						{% for page in page_list %}
								{%ifequal page page_current%}
									<span class="current">{{ page }}</span>
								{%else%}
									<a href="/page/{{ page }}">{{ page }}</a>
								{%endifequal%}
						{% endfor %}
						{% if has_next %}
							<a href='/page/{{ page_current|add:"1" }}'>Next &raquo;</a>
						{% else %}
							<span class="disabled">Next &raquo;</span>
						{% endif %}
						</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
{% include 'footer.html' %}